


<link rel="stylesheet" href="/css/main.css">

<body>

 <div class="container-fluid ">
 <div class="row">
  {{#if @root.session}}
  <div class="col-12 text-end">
   {{@root.session.name}}
    <a href="/logout">Logout</a>
  </div>
   {{/if}}        
 <div class="row mt-5">
    <nav class="col-sm-3">
      <div class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <div class="col-3 h-50">
  
    <img src="css/images/nena.jpg " class="img" alt="libros">
  </div> 
      </div>
    </nav>
    <div class="col-sm-9">
      <div class="tab-content mt-4">
          <div class="container">
            <div class="row">
              <div class="col-md-4 mx-auto">
                <h1 class="text-center">Libros</h1>
              </div>
            </div>
           
           
    </div>
                
        
      <div class="row my-2">
         
   
     {{#each libros}}          
           
      <div class="card col-2 mx-2 h-40 my-2" style="width: 18rem;">
  
        <div class="card-header">
          <a>
          <img src="{{imagen}}" class="card-img-top img-fluid" style="border-radius: 20px;height:150px;min-width:150px;" alt="{{doc.image}}">
          </a>
        </div>
  
        <div class="card-body overflow-auto" style="border-radius: 20px;height:250px;min-width:150px;">
          <h4 class="card-title text-center">{{titulo}}</h4>
          <h6 class="card-title text-center">{{autor}}</h6>
          <p class="card-text text-center" id="trama1">{{truncate trama}}</p>
          <p class="card-text text-center">{{genero}}</p>
          <p class="card-text">Ranking&nbsp; {{opinion}}</p>
          <div class="position-absolute bottom-0 start-50 translate-middle">
            <!-- Button open overlay -->
            <a  href="/books/view/{{_id}}">
            <button class="btn btn-primary" id="viewBook">Ver</button>
          
            </a>  
           
          
          </div>
        </div>
   </div>

{{/each}}
  </div>
        </div>
        </div>
 </div>     
 </div>

</body>
